<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>
      whoami | Erebus
    </title>
  </head>
  <body>
    <div class="container mt-2">
      <header>
        <h2>I know who you are</h2>
      </header>
      <section>
        <p>
          {{#if country}}
            You are residing in
            {{country}}, near
            {{city}}.
          {{/if}}

          {{#if browser}}
            You are runnning
            {{browser}}
            on
            {{os}}.
          {{/if}}

        </p>

        <p>
          Your IP address is
          {{ip}}
        </p>
      </section>
      <footer>
        You have been logged
      </footer>
    </div>
  </body>
</html>